<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer">
        <div id="footerBereich">
            <div class="row d-flex justify-content-center">
                <p>Technische Universität München</p>
            </div>
            <div class="row d-flex justify-content-center">
                <p>Bachelorarbeit: SQL Game auf Hyper Datenbankmanagementsystem</p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="col-6 col-md-4 col-lg-3 text-center">Betreuer: Prof. Dr. Alfons Kemper</p>
                <p class="col-6 col-md-4 col-lg-3 text-center">Bearbeiter: Tung Le Cong</p>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </footer>
</body>
</html>