#gameLogo{
    color: #4A9130;
}

#navi{
    padding-right: 0;
    padding-left: 0;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

button{
    background-color: #4A9130;
    color: white;
}

.spielInfos-items{
    margin-left: 0;
    margin-right: 0;
}


.frageBox{
    display: flex;
    width: 95%;
    border: 1px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0.5rem;
}

.frageTextBox{
    margin-top: 2px;
    max-width: 90%;
    height: auto;
    box-sizing: border-box;
    padding: 2%;
    border: 1px solid #4A9130;
    border-radius: 5px;
}

.dreieck{
    width: 2%;
    border: 1px solid #4A9130;
    margin-right: -1%;
    margin-top: 2%;
    border-top: 0px solid #4A9130;
    border-right: 0px solid #4A9130;
    border-left: 1px solid #4A9130;
    border-bottom: 1px solid #4A9130;
    transform: rotate(45deg);
    background-color: #ffffff;
}

.dreieck::before{
    content: "";
    float: left;
    padding-top: 100%;
}

#ausgabe {
    overflow-y: scroll;
    max-width: 100%;
    max-height: 400px;
}

table{
    max-width: 100%;
}

table td, th{
    border: 1px solid #ddd;
    text-align: center;
    padding: 3px;
}

table tr:nth-child(even){background-color: #F5F5ED;}

table tr:hover {background-color: aliceblue;}

table th{
    background-color: #4A9130;
    color: white;
}



