<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"><head>
<body>
<div class="container mx-auto">
    <div th:insert="fragments/body :: navigation (true, ${aktivSpieler.name}, ${spielstand.punkte}, ${spielstand.level})"></div>

    <input id="pauseButton" type="hidden"  value="Pause">
    <input id="resumeButton" type="hidden" value="Resume">
    <input id="resetButton" type="hidden" value="Reset">
    <input id="restartButton" type="hidden" value="Restart">

    <div class="d-flex justify-content-center">
        <label class="text-center mt-4" id="frageText">Du liebst Abenteuer und möchtest endlich reisen.<br>
            Du hast ein bisschen Geld und das reicht für ein Ticket zur nächsten Insel.<br>
            Unglücklicherweise ist dein Schiff in einem Sturm gesunken. <br>
            Du hat glück, an einen Strand zu landen. <br><br>
            Jetzt musst du die Herausforderungen mit deinen SQL-Kenntnissen meistern.<br>
            Je schneller du die Probleme löst, desto besser ist dein Ranking.<br><br>
            Viel Spaß !!!<br>
        </label>
    </div>


    <input id="listFragenText" type="hidden"  th:value="${listFragenText}"/>
    <input type="hidden"  th:value="${nextFrage}"/>

    <div class="d-flex justify-content-center">
        <input id="startButton" onclick="nachsteFrage()" class="btn-secondary mt-4" th:disabled="false"
               type="button" value="Weiter">
    </div>

    <form>

        <div class="form-group">
            <input type="text" class="form-control mt-4" id="codeArea" name="antwort"
                      rows="3" placeholder="Hier steht dein Code ...">
            <br>
            <div class="d-flex justify-content-center">
                <button onclick="updateOutput()" class="btn-secondary mt-4" type="submit"
                        id="ausfuehrenBtn" >Ausführen</button>
            </div>
        </div>

    </form>

</div>

<script th:inline="javascript">
    var listFragenText = [[${listFragenText}]];
    var nextFrage = [[${nextFrage}]];

</script>
<script th:src="@{/script/timer.js}"></script>
<script th:src="@{/script/questions.js}"></script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>