<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"><head>
<body>
<div class="container">
    <div th:insert="fragments/body :: navigation (true, ${aktuellerSpieler.name})"></div>

    <input id="pauseButton" type="hidden"  value="Pause">
    <input id="resumeButton" type="hidden" value="Resume">
    <input id="resetButton" type="hidden" value="Reset">
    <input id="restartButton" type="hidden" value="Restart">

<!--    <div class="d-flex justify-content-center">
        <label id="grusseText" class="text-center mt-4" >Du liebst Abenteuer und möchtest endlich reisen.<br>
            Du hast ein bisschen Geld und das reicht für ein Ticket zur nächsten Insel.<br>
            Unglücklicherweise ist dein Schiff in einem Sturm gesunken. <br>
            Du hat glück, an einen Strand zu landen. <br><br>
            Jetzt musst du die Herausforderungen mit deinen SQL-Kenntnissen meistern.<br>
            Je schneller du die Probleme löst, desto besser ist dein Ranking.<br><br>
            Viel Spaß !!!<br>
        </label>
    </div>-->

    <!--linker Bereich: Spiel-Infos-->
    <div class="row">
        <div id="spielInfos" class="col-12 col-md-3">
            <div class="row justify-content-center text-center my-2">
                <p class="col-2" id="min">00</p>
                <p class="col-1">:</p>
                <p class="col-2" id="sec" >00</p>
            </div>
            <div class="row justify-content-around text-center my-2">
                <p class="col-5" id="levelSpan" th:text="'Level: '+${spielstand.level}">Level</p>
                <p class="col-5" th:text="'Punkte: '+${spielstand.punkte}">punkte</p>
            </div>

            <div class="row my-2">
                <button type="button" class="btn btn-secondary col-12">Datenbankschema</button>
            </div>

            <div class="row my-2">
                <button class="btn btn-secondary col-12" type="button" data-toggle="collapse"
                        data-target="#tips" aria-expanded="false" aria-controls="collapseExample">
                    Tips
                </button>
                <div class="collapse" id="tips">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore
                        wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </div>

        </div>
    <!--rechter Bereich: Spiel-Fragen, Antworten und Ausgaben-->
        <div class="col-12 col-md-9">

            <!--Fragen-->

            <div class="frageBox">
                <img src="../static/images/boy.png" th:src="@{/images/boy.png}" width="5%"/>
                <div class="dreieck">
                </div>
                <div class="frageTextBox" id="frageText">
                    text
                </div>
            </div>


            <input type="hidden" th:value="${listFragen}"/>

            <!--https://stackoverflow.com/questions/37383730/how-to-add-csrf-token-to-ajax-request-->
            <meta th:name="_csrf" th:content="${_csrf.token}"/>
            <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

            <div class="d-flex justify-content-center">
                <input id="weiterBtn" onclick="nachsteFrage()" class="btn-secondary mt-4" th:disabled="false"
                       type="button" value="Weiter">
            </div>

            <!--Antworten-->
            <div>
            <textarea class="form-control mt-2" id="codeArea"
                      rows="3" placeholder="Hier steht dein Code ..."></textarea>
                <br>
                <div class="d-flex justify-content-center">
                    <button onclick="ausfuhren()" class="btn-secondary mt-2" type="submit"
                            id="ausfuehrenBtn">Ausführen
                    </button>
                </div>
            </div>

            <!--Ausgaben-->
            <div id="ausgabe" class="mt-2">
                <label id="feedback"> feedback from server </label>
            </div>
        </div>
    </div>

    <!--<label id="codetext">sometext hier</label>
    <button onclick="test()">test</button>-->

</div>

<script th:inline="javascript">
    const listFragen = [[${listFragen}]];
    const spielstand = [[${spielstand}]];

    //https://stackoverflow.com/questions/34747437/use-of-spring-csrf-with-ajax-rest-call-and-html-page-with-thymeleaf
    let csrf_token = document.querySelector("meta[name='_csrf']").getAttribute("content");
    let csrf_header = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
</script>

<script th:src="@{/script/questions.js}"></script>
<script th:src="@{/script/timer.js}"></script>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>