<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"><head>
<body>
<div class="container mx-auto">
    <div th:insert="fragments/body :: navigation (true, ${aktivSpieler.name}, ${spielstand.punkte}, ${spielstand.level})"></div>

    <input id="pauseButton" type="hidden"  value="Pause">
    <input id="resumeButton" type="hidden" value="Resume">
    <input id="resetButton" type="hidden" value="Reset">
    <input id="restartButton" type="hidden" value="Restart">

<!--    <div class="d-flex justify-content-center">
        <label id="grusseText" class="text-center mt-4" >Du liebst Abenteuer und möchtest endlich reisen.<br>
            Du hast ein bisschen Geld und das reicht für ein Ticket zur nächsten Insel.<br>
            Unglücklicherweise ist dein Schiff in einem Sturm gesunken. <br>
            Du hat glück, an einen Strand zu landen. <br><br>
            Jetzt musst du die Herausforderungen mit deinen SQL-Kenntnissen meistern.<br>
            Je schneller du die Probleme löst, desto besser ist dein Ranking.<br><br>
            Viel Spaß !!!<br>
        </label>
    </div>-->

    <div class="d-flex justify-content-center mt-4" >
        <label id="frageText" class="text-center" >Frage</label>
    </div>

    <input type="hidden"  th:value="${listFragen}"/>
    <!--<input type="hidden" th:value="${aktuelleFrageId}">-->

    <div class="d-flex justify-content-center">
        <input id="weiterBtn" onclick="nachsteFrage()" class="btn-secondary mt-4" th:disabled="false"
               type="button" value="Weiter">
    </div>

    <div>
            <textarea class="form-control mt-4" id="codeArea"
                      rows="3" placeholder="Hier steht dein Code ..." ></textarea>
        <br>
        <div class="d-flex justify-content-center">
            <button onclick="ausfuhren()" class="btn-secondary mt-4" type="submit"
                    id="ausfuehrenBtn" >Ausführen</button>
        </div>
    </div>

    <div id="ausgabe" class="mt-4" style="overflow-y: scroll; height:400px;">
        <label id="feedback"> feedback from server </label>
    </div>

    <!--<label id="codetext">sometext hier</label>
    <button onclick="test()">test</button>-->

</div>

<script th:inline="javascript">
    let listFragen = [[${listFragen}]];
    let spielstand = [[${spielstand}]];
</script>

<script th:src="@{/script/timer.js}"></script>
<script th:src="@{/script/questions.js}"></script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>