<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
<body>
<div class="container mx-auto" >
    <div th:insert="fragments/body :: navigation (false,null)"></div>


    <div class="form-group text-center mt-5" >
        <label>Herzlich Willkommen zum SQL Game!</label>
        <br>
        <label>Du bist abensteuerlustig und willig, SQL zu lernen ? Dann bist du hier richtig !</label>
        <br>
        <form th:action="@{/}" method="post" id="anmeldungForm">
            <label class="mt-4">Gib dein username und Passwort ein oder registrieren, um deine Reise zu beginnen :</label>
            <br>
            <div class="d-flex justify-content-center mt-4" >
                <input type="text" class="form-control w-25" id="name" spellcheck="false"
                       required="true" placeholder="name" name="name" >
            </div>
            <div class="d-flex justify-content-center" >
                <input type="password" class="form-control w-25 mt-4" id="password" spellcheck="false"
                       required="true" placeholder="passwort" name="password">
            </div>

            <div class="d-flex justify-content-center mt-4 mb-3" id="ReAnButtons" >
                <button type="submit" id="loginBtn" class="btn-secondary">Login</button>
            </div>

            <div th:if="${param.logout}" class="d-flex justify-content-center mt-2">
                <div class="alert alert-info w-50"> du hast dich erfolgreich abgemeldet</div>
            </div>
            <div class="d-flex justify-content-center mt-2" th:if="${param.error}">
                <br>
                <div class="alert alert-danger w-50">
						<span>login oder passwort ist falsch, bitte nochmal
							versuchen</span>
                </div>
            </div>
        </form>

        <a id="registrierenLink" th:href="@{/registrieren}" class="mt-5">Registrieren</a>

        <!-- Button trigger modal
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
        </button>-->

        <!-- Modal -->
       <!-- <div class="modal fade" id="registrierenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Registrieren</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="d-flex justify-content-center mt-2" >
                                <input type="text" class="form-control w-75" id="nameReg"
                                       required="true" placeholder="name" name="name" >
                            </div>
                            <div class="d-flex justify-content-center" >
                                <input type="password" class="form-control w-75 mt-2" id="passwordReg"
                                       required="true" placeholder="passwort" name="password">
                            </div>
                            <div class="d-flex justify-content-center" >
                                <input type="password" class="form-control w-75 mt-2" id="passwordWiederH"
                                       required="true" placeholder="passwort wiederholen" name="password">
                            </div>
                            <div class="d-flex justify-content-end mt-2" >
                                <button type="button" class="btn btn-secondary mx-1 my-2" data-dismiss="modal">Abbrechen</button>
                                <button type="submit" class="btn btn-primary mx-1 my-2">Registrieren</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>-->
    </div>


</div>



<div th:insert="fragments/footer :: footer"></div>

</body>
</html>