<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
<body>
<div class="container mx-auto" >
    <div th:insert="fragments/body :: navigation (false,null, null, null)"></div>


    <div class="form-group text-center mt-5" >
        <label>Herzlich Willkommen zum SQL Game!</label>
        <br>
        <label>Du bist abensteuerlustig und willig, SQL zu lernen ? Dann bist du hier richtig !</label>
        <br>
        <form th:action="@{/level1}" method="post" th:object="${spieler}">
            <label class="mt-4">Gib dein username und Passwort ein, um deine Reise zu beginnen :</label>
            <br>
            <div class="d-flex justify-content-center my-4" >
                <input type="text" class="form-control w-25" id="name"
                       required="true" placeholder="name" th:field="*{name}">
            </div>
            <div class="d-flex justify-content-center" >
                <input type="password" class="form-control w-25 my-1" id="passwort"
                       required="true" placeholder="passwort" th:field="*{passwort}">
            </div>
            <div class="d-flex justify-content-center my-2" >
                <button type="submit" class="btn-secondary ">Beginnen</button>
            </div>

            <div th:if="${param.logout}">
                <div class="alert alert-info">You have been logged out.</div>
            </div>
            <div th:if="${param.error}">
                <br>
                <div class="alert alert-danger">
						<span>login oder passwort ist falsch, bitte nochmal
							versuchen</span>
                </div>
            </div>
        </form>
    </div>


</div>



<div th:insert="fragments/footer :: footer"></div>
<!--<script th:src="@{/script/timer.js}"></script>-->
</body>
</html>